/* Variables */

:root {
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --basic-white: #FFFFFF;
  --basic-dark-blue: #5496BD;
  --basic-blue: #669EC0;
  --basic-light-blue: #81B3D2;
  --basic-dark-brown: #503E33;
  --basic-brown: #604E43;
  --basic-light-brown: #766357;
  --basic-extra-gray:  #666666;
  --basic-dark-gray: #A9A9A9;
  --basic-gray: #EBEBEB;
  --basic-light-gray: #F2F2F2;
  --basic-natural: #EEEEEE;
  --special-coll-blue:  E6F3FA;
  --special-dark-gray: #6A6A6A;
  --special-gray: #ABABAB;
  --special-black: #231F20;
  --special-middle-gray: #CACACA;
  --special-logo-gray: #BDBBBC;
  --special-input-gray: #E5E5E5;
 
}
/*outline: 1px solid #ff0000;*/

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сетка */

.page {
  height: 100%;
}

.main-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  min-height: 100%;
	margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
}

/* Main navigation */

.main-navigation {
  font-weight: 700;
  background-color: var(--basic-white);
  position: relative;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 15px 72px;
}

.site-navigation li {
  list-style: none;
}

.site-navigation li:nth-child(2) {
  margin-left: 134px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation li:last-child {
  margin-left: 147px;
}

a.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-light-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .page-active {
  color: var(--basic-light-brown);
}

/* Main Index */

.welcome {
  background-color: var(--special-coll-blue);
  background-image: url("../img/background photo.jpg");
  background-repeat: no-repeat;
  padding-top: 77.35px;
  padding-bottom: 71.76px;
  padding-left: 371px;
  padding-right: 371px;
}

p.welcome-picture {
  padding-bottom: 0;
  margin: 0;
}

.info-city {
  display: flex;
  background-color: var(--basic-white);
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.info-city .zigzag {
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  padding: 0;
  padding-top: 57px;
  margin: 0;
  margin-top: -55px;
}

.info-city .info-description {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 32px;
  padding-top: 42.5px;
  margin: 0;
  margin-bottom: 11.5px;
  margin-left: 365px;
  margin-right: 365px;
}

.info-reason {
  text-align: center;
  color: var(--basic-extra-black);
}

.info-city .info-reason {
  margin: 0;
  margin-bottom: 51px;
}

.interesting {
  background-color: var(--basic-white); 
}

.interesting-now {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 33px;
  margin-top: 57px;
}

.about-city {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0; 
}

.about-city-color {
  width: 400px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  line-height: 21px;
  text-align: center;
  padding-top: 47px;
  padding-right: 49px;
  padding-bottom: 54px;
  padding-left: 50px;
}

.about-city-color h2.about-life {
  width: 122px;
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-city-color h2.about-bridge {
  width: 151px;
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-city-color p.life {
  margin-top: 24px;
  margin-bottom: 0;
}

.about-city-color p.bridge {
  margin-top: 24px;
  margin-bottom: 0;
}

.about-city-view {
  display: flex;
}

.infrastructure {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.about-residence h2,
.about-food h2,
.about-souvenir h2 {
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 160px;
}

.about-residence,
.about-food,
.about-souvenir {
  padding-bottom: 82px;
} 

.about-residence p {
  display: inline-block;
  width: 254px;
  margin: 0;
}

.about-food p {
  display: inline-block;
  width: 297px;
  margin: 0;
}

.about-souvenir p {
  display: inline-block;
  width: 270px;
  margin: 0;
}

.infrastructure .item-residence { 
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 162px 60px;
}

.infrastructure .item-food { 
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 162px 61px;
}

.infrastructure .item-souvenir { 
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 167px 55px;
}

.about-city-feature {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.about-city-not-color {
  padding-top: 47px;
  padding-bottom: 54px;
}

.about-city-feature h2 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
 }

 .about-city-not-color .square {
  margin-bottom: 25px;
  width: 119px;
  margin-left: auto;
  margin-right: auto;
}

.about-city-not-color .road {
  margin-bottom: 25px;
  width: 99px;
  margin-left: auto;
  margin-right: auto;
}

.about-city-not-color .tourists {
  margin-bottom: 25px;
  width: 98px;
  margin-left: auto;
  margin-right: auto;
} 

p.about-city-square {
  width: 209px;
  margin-top: 23px;
  margin-bottom: 0;
} 

p.about-city-vegas {
  width: 261px;
  margin-top: 23px;
  margin-bottom: 0;
} 

p.about-city-grand {
  width: 247px;
  margin-top: 23px;
  margin-bottom: 0;
} 

.infrastructure {
  background-color: var(--basic-white);
  text-align: center;
  line-height: 21px;
}

.infrastructure h2 {
  font-size: 21px;
  font-weight: 700;
}

.infrastructure p {
  color: var(--basic-extra-black);
}

.about-city-feature {
  background-color: var(--basic-natural);
  text-align: center;
  line-height: 21px;
}

.about-city-feature h2 {
  font-size: 21px;
  font-weight: 700;
}

.about-city-feature p {
  color: var(--basic-extra-black);
}

.about-city-feature span {
  color: var(--basic-extra-black);
}

.interesting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interesting a.button {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 125px;
  padding-right: 124px;
}

.interesting-search {
  line-height: 24px;
  text-align: center;
  width: 435px;
  margin: 0;
  margin-bottom: 44px;
}

/* Main Index Button */

.button {
  width: 568px;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--basic-brown);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-dark-brown);
}

/* Main Index Form */
.search {
  width: 568px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
  background-color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  position: absolute; 
  left: 316px;
}

.search .search-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 55px;
  margin: 0;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  position: relative;
}

.search .search-person {
  display: flex;
  justify-content: space-between;  
}

.search-date-in input {
  width: 346px;
  height: 38px;
  padding-left: 13px;
  margin-left: 19px;
}  

.search-date-out input{
  width: 346px;
  height: 38px;
  padding-left: 13px;
  margin-left: 16px;
}

.search-container input {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
  border: none;
  margin-bottom: 29px;
}

.search-container button.find {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  height: 58px;  
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  border: none;
  padding: 16px 182px;
  margin-top: 25px;
}

.search-container button.find:hover,
.search-container button.find:focus {
  background-color: var(--basic-blue);
}

.search-container button.find:active {
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.search-container input:hover {
  background-color: var(--basic-gray);
}

.search-container input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--special-input-gray);
}

.search-person input {
  width: 114px;
  height: 38px;
  text-align: center;
}

.adult label {
  margin: 0;
  margin-right: 37px;
}

.children input {
  margin: 0;
  margin-left: 23px;
}

.search .calendar {
  background-color: var(--basic-light-gray);
  border: none;
}

.form-input {
  position: relative;
}

.form-input .calendar {
  position: absolute;
  right:4px;
  top: 7px;
}

.form-output {
  position: relative;
}

.form-output .calendar {
  position: absolute;
  right:4px;
  top: 7px;
}

.search button.calendar:hover path,
.search button.calendar:focus path {
  fill: var(--basic-black);
}

.search button.calendar:active path {
  fill: var(--basic-light-blue);
}

.search .minus,
.search .plus {
  background-color: var(--basic-light-gray);
  border: none;
}

.form-adult {
  position: relative;
}

.form-adult .minus {
  position: absolute;
  top: 7px;
  left: 118px;
}

.form-adult .plus {
  position: absolute;
  top: 11px;
  left: 196px;
}

.form-children {
  position: relative;
}

.form-children .minus {
  position: absolute;
  top: 7px;
  right: 83px;
}

.form-children .plus {
  position: absolute;
  top: 11px;
  right: 7px;
}

.search button.minus:hover rect,
.search button.minus:focus rect {
  fill: var(--basic-black);
}

.search button.minus:active rect {
  fill: var(--basic-light-blue);
}

.search button.plus:hover path,
.search button.plus:focus path {
  fill: var(--basic-black);
}

.search button.plus:active path {
  fill: var(--basic-light-blue);
}

/* Main Footer Index*/

.main-footer {
  display: grid;
  width: 1200px;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0; 
}

.index-footer {
  position: absolute;
  bottom: 8px;
}

.contact-tag-tel {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 36px;
  padding-left: 73px;
}

.tag a {
  color: var(--basic-black);
}

.contact-tag-tel .tag {
  margin-bottom: 9px;
  text-align: center;
}

.main-footer .contact-social {
  padding-top: 37px;
  padding-bottom: 36px;
  padding-right: 2px;
}

.contact-social ul {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;  
  padding: 0;
  list-style: none;  
}

.contact-social a.social-button {
  display: flex;
  width: 46px;
  height: 48px;
  text-align: center;
}

.contact-social .social-button {
  background-color: var(--basic-light-blue);
}

.twitter-button {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-button {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-button {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-dark-blue);
}

.developer {
  display: flex;
  padding-right: 73px;
}

.developer-logo {
  width: 115px;
  height: 41px;
  color: var(--special-black);
  padding-top: 41px;
}

.developer span {
  padding-top: 49px;
  padding-bottom: 45px;
  margin-right: 8px;
}

a.developer-logo:hover path,
a.developer-logo:focus path{
  fill: var(--basic-light-blue);
}

a.developer-logo:active path{
  fill: var(--special-logo-gray);
}

/* Main Hotels */

.filters {
  background-color: var(--basic-blue);
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  color: var(--basic-white);
}

.filters .filter-items {
  display: flex;
  margin: 0;
  padding: 0;
  padding: 0 72px;
}

.filters legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters ul {
  min-width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-items .infrastructure-items,
.filter-items .housing-items,
.filter-items .cost-items {
  padding-top: 26.5px;
  padding-bottom: 29px;
  text-align: left;
}

.infrastructure-items legend,
.housing-items legend {
  margin-bottom: 24px;
}

.infrastructure-list li:not(:last-child) {
  padding:0;
  margin:0;
  margin-bottom: 25px;
  line-height: 21px;
}

.type-housing li:not(:last-child) {
  padding:0;
  margin:0;
  margin-bottom: 25px;
  line-height: 21px;
}

.housing-items label {
  padding-left: 39px; 
}

.filter-option {
  display: none;
}

.infrastructure-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.housing-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 40px;
}

.housing-item .filter-check::before {
  content: "";
  width: 23px;
  height: 23px;  
  background-image: url("../img/checkbox-off.svg");  
  background-repeat: no-repeat;   
  background-position: top center;
  cursor: pointer;
  position: absolute; 
  left: 0px;
}

.infrastructure-item .filter-check::before {
  content: "";
  width: 23px;
  height: 23px;  
  background-image: url("../img/checkbox-off.svg");  
  background-repeat: no-repeat;   
  background-position: top center;
  cursor: pointer;
  position: absolute; 
  left: 0px;
}

.filter-option:checked + label::before { 
  width: 27px; 
  background-image: url("../img/checkbox-on.svg");
}

.filter-option:checked:disabled + label::before { 
  width: 27px; 
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-option:disabled + label::before { 
  width: 27px; 
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-items .infrastructure-items {
  margin-right: 95px;
}

.filter-items .housing-items {
  margin-right: 324px;
}

.cost-items legend {
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 10.5px;
  padding-left: 1px;
}

.filter-items .filter-cost {
  display: flex;
  width: 316px;
  text-align: center;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-left: -1px;
  position: relative;
}

.min-cost::after {
  position: absolute;
  content: " ";
  top: 5px;
  left: 156px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}

.filter-cost .min-cost,
.filter-cost .max-cost {
  display: inline-block;
  text-align: center;
  padding-top: 2.5px;
  padding-bottom: 4.5px; 
  padding-left: 4px; 
}

.filter-cost .min-cost {
  width: 158px;
}

.filter-cost .max-cost {
  width: 159px;
}

.cost-items .range-filter {
 width: 316px;
}

.cost-items .range-cost {
  position: relative;
  height: 30px;  
  padding-top: 20px;
  margin-bottom: 25px;
}

.range-cost .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-cost .bar {
  width: 248px;
  height: 2px;  
  background-color: var(--basic-white);
  margin-left: 12px;
}

.range-cost .toggle {
  position: absolute;
  top: 11px;
  width: 21px;
  height: 22px;
  padding: 0;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: top center;
  cursor: pointer;
}

.range-cost .toggle-max {
  left: 252px;
}

.range-cost .toggle:hover,
.range-cost .toggle:focus {
  width: 23px;
  height: 24px;
  transform: scale(1.2);
}

.filter-items button {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 33px;
  padding-left: 34px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-left: 84px;
  margin-right: auto;
}

.filter-items button:hover,
.filter-items button:focus {
  color: var(--basic-black);
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.results-search-find {
  display: flex;
  padding: 0 73px;
} 

.find {
  padding-top: 29px;
  padding-bottom: 31px;
}

.results {
  display: flex;
  margin-left: 46px;
}

.results span {
  padding: 0;
  margin: 0;
  margin-left: 1px;
  padding-top: 32px;
}

.results-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  padding-top: 32px;
}

.filter-price {
  margin-left: 40px;
}

.filter-type {
  margin-left: 32px;
}

.filter-rating {
  margin-left: 33px; 
}

.filter-up-down .up-down {
  display: flex;
  justify-items: flex-end;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 32px;
  margin-left: 503px;
}

.up-down li:nth-child(1) {
  margin-right: 12px;
}

a.filter-up path {
  background-repeat: no-repeat;
  fill: var(--special-middle-gray);
}

a.filter-down path {
  background-repeat: no-repeat;
  fill: var(--special-middle-gray);
}

a.filter-up:hover path,
a.filter-up:focus path {
  fill: var(--basic-black);
}

a.filter-up:active path {
  fill: var(--basic-light-blue);
}

.up-down a.active path {
  fill: var(--basic-light-blue);
}

a.filter-down:hover path,
a.filter-down:hover path {
  fill: var(--basic-black);
}

a.filter-down:active path {
  fill: var(--basic-light-blue);
}

/* Results search */

.results-search-find {
  background-color: var(--basic-white);
}

.results-search-find .find {
  font-size: 21px;
  font-weight: 700;
}

.results-search-find .sorting {
  font-size: 12px;
  line-height: 18px;
}

.results-list a.filter-price {
  color: var(--basic-light-blue);
}

.results-list a.filter-type, 
.results-list a.filter-rating {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed var(--basic-light-blue);
}

.results-list .active:hover,
.results-list .active:focus {
  color: var(--basic-light-blue);
}

.results-list a.active:active {
  color: var(--basic-black);
  border: none;
} 

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  margin: 0;
  padding: 0 73px;
}

.hotels-list .hotel-item {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--special-input-gray);
}

.hotels-list li.hotel-items-villas {
  border-bottom: 1px solid var(--special-input-gray);
}

.hotels-list div.amara,
.hotels-list div.desert,
.hotels-list div.villas {
  display: flex;
  justify-content: space-between;
  width: 921px;
  margin: 0;
  padding: 0; 
}

.info-type-price span {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 16px;
}

.info-type-price .type-amara {
  width: 107px;
  margin-right: 6px;
}

.info-type-price .type-desert {
  width: 82px;
  margin-right: 31px;
}

.info-type-price .type-villas {
  width: 126px;
  margin-right: -13px;
}

.hotel-picture {
  padding-top: 30px;
  padding-bottom: 23px;
}

.hotel-amara {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.hotel-desert {
  display: flex;
  flex-direction: column;
  margin-left: 29px;
}

.hotel-villas {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.name-hotel a {
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black); 
}

h3.name-hotel {
  padding-top: 24px;
  margin-top:0;
  margin-bottom: 0;
}

.rating-stars ul {
  display: flex;
  justify-content: flex-end;
  padding:0;
  padding-top: 29px;
  list-style: none;
}

.rating-stars li:not(:last-child) {
  margin-right: 5px;
}

.rating-hotel .rating-value {
  width: 110px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-extra-gray);
  background-color: var(--basic-light-gray);
}

p.rating-value {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 3px;
  padding-bottom:3px;
  padding-left: 15px;
  padding-right: 12px;
}

a.button-book {
  padding-bottom: 4.5px;
  padding-top: 4.5px;
  padding-right: 16px;
  padding-left: 17px;
}

a.button-more {
  padding-bottom: 4.5px;
  padding-top: 4.5px;
  padding-right: 16px;
  padding-left: 17px;
}

.name-hotel a:hover,
.name-hotel a:focus {
  color: var(--basic-light-blue);
}

.name-hotel a:active {
  opacity: 0.3;
  color: var(--basic-black);
}

.info-type-price span {
  line-height: 21px;
}

.button-more-book a {
  line-height: 21px;
  font-weight: 700;
}

.button-more-book .button-more {
  margin-right: 4px;
}

.button-more-book .button-more {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  border: none;
}

.button-more-book a.button-more:hover,
.button-more-book a.button-more:focus {
  background-color: var(--basic-blue);
}

.button-more-book a.button-more:active {
  background-color: var(--basic-dark-blue);
  color: rgba(255, 255, 255, 0.3);
}

.button-more-book .button-book {
  color: var(--basic-white);
  background-color: var(--basic-light-brown);
  border: none;
}

.button-more-book a.button-book:hover,
.button-more-book a.button-book:focus {
  background-color: var(--basic-brown);
}

.button-more-book a.button-book:active {
  background-color: var(--basic-dark-brown);
  color: rgba(255, 255, 255, 0.3);
}

